.product-list{
	width:80px;
	height: 80px;
	float:center;
	display:inline-block;
	border-radius:10px; /* solid blue ; */
/*	background-color: red; */
/*	padding:3em;*/
	text-align:center;
	margin: .2em;

/*	.menu-list-image{
		width: 80px;
		margin: auto;
		img{
			width: 80px;
			margin: auto;
		}
	}	*/
/*	h2{
		text-align: center;
		font-size: 80%;
	}*/
}

.dataview-inline{
	width:90%;
	margin:auto;
	/*text-align:center;*/
}