<<<<<<< HEAD
.imobile-cliente-tpl{
	span{
		font-size: 80%;
		color: #1E1E1E;
	}
=======
.imobile-cliente-tpl {
  p {
    margin: 0 !important;
  }
  span {
    font-size: 80%;
    color: #1E1E1E;
  }
>>>>>>> b1ea61258045ce9d476a33aad607e3fec63052e3
}